@tailwind components;
@tailwind base;
@tailwind utilities;

@import '~@cds/core/global.min.css'; // clarity global styles
@import '~@cds/city/css/bundles/default.min.css'; // load base font

html {
  font-size: 16px;
  font-family: 'Clarity City', 'Avenir Next', sans-serif;
  scroll-behavior: smooth;
}
